<a href="https://colab.research.google.com/github/Chenjie-UTS/UTS_ML2019-ID12769194/blob/master/A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [0]:
from pathlib import Path
DATA_URL = 'https://drive.google.com/open?id=1TNKRgBZ9i2zUVTxD4QVZzO9lilLUKMy9'
DATA_FILENAME = "listings_dec18.csv"

data_dir = Path("./data/")
# Create dir structure if not existing
data_dir.mkdir(parents=True, exist_ok=True) 
filepath = data_dir / DATA_FILENAME

data_source = "Google Drive"
#@markdown ---

if not filepath.exists():
    if data_source == 'Existing':
       raise ValueError("File doesn't exist, plese choose a source to get the file")
    elif data_source == "Google Drive":
        # Install the PyDrive wrapper & import libraries.
        # This only needs to be done once per notebook.
        !pip install -U -q PyDrive
        from pydrive.auth import GoogleAuth
        from pydrive.drive import GoogleDrive
        from google.colab import auth
        from oauth2client.client import GoogleCredentials

        # Authenticate and create the PyDrive client.
        # This only needs to be done once per notebook.
        auth.authenticate_user()
        gauth = GoogleAuth()
        gauth.credentials = GoogleCredentials.get_application_default()
        drive = GoogleDrive(gauth)

        # Download a file based on its file ID.
        #
        # A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
        file_id = '11vbICeUosvIhO66yaOsTFU9igVnZW4Jy'
        downloaded = drive.CreateFile({'id': file_id})
        downloaded.GetContentFile(str(filepath))
    elif data_source == "NOAA/ERSL":
        import urllib.request
        urllib.request.urlretrieve(DATA_URL, str(filepath))

In [0]:
import zipfile
zf = zipfile.ZipFile(filepath)
zf.extractall('./data/')
df = pd.read_csv(zf.open('listings_summary_dec18.csv'), encoding = "ISO-8859-1")

In [0]:
# Import listings_summary, load as pandas dataframe
listings_data = pd.read_csv('./data/listings_summary_dec18.csv')
#Create dataframe listings with relevant columns （ drop 'neigbourhood group' column as NULL）
listings = listings_data[['id','name','host_id','host_name','neighbourhood','latitude','longitude','room_type','price','minimum_nights','number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count','availability_365']]

idlisting ID

namename of the listing

host_idhost ID

host_namename of the host

neighbourhood_grouplocation

neighbourhoodarea

latitudelatitude coordinates

longitudelongitude coordinates

room_typelisting space type

priceprice in dollars

minimum_nightsamount of nights minimum

number_of_reviewsnumber of reviews

last_reviewlatest review

reviews_per_monthnumber of reviews per month

calculated_host_listings_countamount of listing per host

availability_365number of days when listing is available for booking

In [0]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36662 entries, 0 to 36661
Data columns (total 15 columns):
id                                36662 non-null int64
name                              36650 non-null object
host_id                           36662 non-null int64
host_name                         36656 non-null object
neighbourhood                     36662 non-null object
latitude                          36662 non-null float64
longitude                         36662 non-null float64
room_type                         36662 non-null object
price                             36662 non-null int64
minimum_nights                    36662 non-null int64
number_of_reviews                 36662 non-null int64
last_review                       24725 non-null object
reviews_per_month                 24725 non-null float64
calculated_host_listings_count    36662 non-null int64
availability_365                  36662 non-null int64
dtypes: float64(3), int64(7), object(5)
memory usage: 4.2+ MB

In [0]:
listings.head()

      id  ... availability_365
0  12351  ...              187
1  14250  ...              321
2  15253  ...              316
3  20865  ...               69
4  26174  ...              140

[5 rows x 15 columns]

In [0]:
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from numpy import array
import datetime
#from sklearn.tree import DecisionTreeClassifier

In [0]:
label_encoder = LabelEncoder()
copylistings = listings.copy();

copylistings['price'] = copylistings['price'].astype(float)

#copylistings['lr_year'] = pd.DatetimeIndex(copylistings['last_review']).year
#copylistings['lr_month'] = pd.DatetimeIndex(copylistings['last_review']).month
#copylistings['lr_day'] = pd.DatetimeIndex(copylistings['last_review']).month

copylistings['rt_encode']= label_encoder.fit_transform(listings['room_type'])
copylistings['nbh_encode']= label_encoder.fit_transform(listings['neighbourhood'])

copylistings.head()

      id  ... nbh_encode
0  12351  ...         32
1  14250  ...         20
2  15253  ...         32
3  20865  ...         18
4  26174  ...         37

[5 rows x 17 columns]

In [0]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(copylistings, test_size=0.2)

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(algorithm='brute')


cols = ['number_of_reviews','rt_encode','nbh_encode','availability_365','minimum_nights','calculated_host_listings_count']
#normalized_copylistings[] = preprocessing.normalize(copylistings)
#normalizer = preprocessing.Normalizer().fit(cols)  # fit does nothing
#normalizer
#Normalizer(copy=True, norm='l1')

knn.fit(train_data[cols], train_data['price'])
predict_data = knn.predict(test_data[cols])

test_data['predict_data']= knn.predict(test_data[cols])

test_data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             id  ... predict_data
20286  21489422  ...         83.8
28677  26460105  ...        246.2
12033  15128165  ...        127.0
28797  26585474  ...         75.8
14210  16416700  ...         81.2

[5 rows x 18 columns]

In [0]:
from sklearn.metrics import mean_squared_error
test_data['squared_error'] = (test_data['predict_data'] - test_data['price'])**(2)
mse = test_data['squared_error'].mean()
rmse = mse ** (1/2)
rmse

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

289.36709452899845

In [0]:
print("RMSE for the {} column: {}".format('number_of_reviews',rmse))
print("RMSE for the {} column: {}".format('rt_encode',rmse))
print("RMSE for the {} column: {}".format('nbh_encode',rmse))
print("RMSE for the {} column: {}".format('availability_365',rmse))
print("RMSE for the {} column: {}".format('minimum_nights',rmse))
print("RMSE for the {} column: {}".format('calculated_host_listings_count',rmse))

RMSE for the number_of_reviews column: 289.36709452899845
RMSE for the rt_encode column: 289.36709452899845
RMSE for the nbh_encode column: 289.36709452899845
RMSE for the availability_365 column: 289.36709452899845
RMSE for the minimum_nights column: 289.36709452899845
RMSE for the calculated_host_listings_count column: 289.36709452899845